html {
	background: linear-gradient(90deg, violet, aqua);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

body {
	background: rgba(179,25,255,.6);
	width: 960px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:hover {
	background-color: rgba(0,255,255,0.30);
}

a, a:visited {
	color: darkblue;
}